0 3 */1 * * . /home/team/cron.env; psql -h localhost -p 8081 -U postgres -d hhton -f /home/team/teamup/config/postgres/clear_junk.sql >/dev/null 2>&1
0 12 * * * /usr/bin/certbot renew --quiet >/dev/null 2>&1